<div class="page-header">
  <h1>
    <a href="/likes/new" class="btn btn-lg btn-success">New Like</a>
    <%= current_user.username.capitalize %>'s Likes
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% @likes.each do |like| %>
      <% if like.user_id == current_user.id %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <em> <%= Photo.find(like.photo_id).caption %> </em>
              by
              <%= User.find(like.user_id).username.capitalize %> </h3>
          </div>

          <div class="panel-body">
            <img src="<%= Photo.find(like.photo_id).image %>" class="img-responsive"></td>
          </div>

          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <a href="/photos/<%= Photo.find(like.photo_id) %>" class="btn btn-primary">Show</a>
              <a href="/photos/<%= Photo.find(like.photo_id) %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_photo/<%= Photo.find(like.photo_id) %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
