<div class="page-header">
  <h3><%= @user.username.capitalize %></h3>
  <dl class="dl-horizontal">
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
    <dt>User ID:</dt>
    <dd><%= @user.id %></dd>
  </dl>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
        <% @photos.each do |photo| %>
          <% if photo.user_id == @user.id %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <em> <%= photo.caption %> </em>
                by
                <%= User.find(photo.user_id).username.capitalize %> </h3>
            </div>

            <div class="panel-body">
              <img src="<%= photo.image %>" class="img-responsive"></td>
            </div>

            <div class="panel-footer">
              <% @comments.each do |comment| %>
              <% if comment.photo_id == photo.id %>
              <p>
                <a href="/users/<%= comment.user_id%>"> <%= User.find(comment.user_id).username %></a>
                <span class="text-muted">
                  <%= time_ago_in_words(comment.created_at) %> ago
                </span>
              </p>
              <p> <%= comment.body %> </p>
              <% end %>
              <% end %>
              <div class="btn-group btn-group-justified">
                <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
                <% if current_user.id == photo.user_id %>
                  <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
                  <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
  </div>
</div>
