<div class="page-header">
  <h3><%= @photo.caption %> by <%= User.find(@photo.user_id).username %></h3>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <img src="<%= @photo.image %>" class="img-responsive"></td>
    </div>

    <div class="panel-footer">
      <% @comments.each do |comment| %>
      <% if comment.photo_id == @photo.id %>
      <p>
        <a href="/users/<%= comment.user_id%>"> <%= User.find(comment.user_id).username %></a>
        <span class="text-muted">
          <%= time_ago_in_words(comment.created_at) %> ago
        </span>
      </p>
      <p> <%= comment.body %> </p>
      <% end %>
      <% end %>
      <div class="btn-group btn-group-justified">
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
    </div>
  </div>
</div>
</div>
